<!DOCTYPE html>
<html>
<head>
<title>chat machine</title>
        {% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="{% static 'css/popup-box.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--Web-fonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
<!--//Web-fonts-->
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Striking Dual form  Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

{% block head %}

{% endblock %}
</head>
<body>
{% block body %}

{% endblock %}

	<div class="footer-w3l">
		<p class="agileinfo"> &copy; 2017 My chat machine . All Rights Reserved | Design by Ayush Jain</p>
	</div>
</body>
</html>